<div class="container py-5">
	<div class="row w-100">
    	<div class="col-2">&nbsp;</div>
        <div class="col-5 border_right_colo">
        	<form class="w-100 border-radius-8px formAlt px-1 py-4" action="" method="post">
            	<h1 class="font-32 mb-4 family-title-master w-100 text-center">Entrar</h1>
            	<div class="field">
                	<input type="email" placeholder=" " name="email_login" required>
                    <p class="label">Email</p>
                </div>
                <div class="field">
                	<input type="password" placeholder=" " name="senha_login" required>
                    <p class="label">Senha</p>
                </div>
                <a href="/esqueci-minha-senha" class="link_hover w-100 d-block font-11 mb-3 pl-1">Esqueci Minha Senha</a>
                <div class="w-100 text-center p-1">
                	<button>Entrar</button>
                </div>
            </form>
        </div>
        <div class="col-3 pt-5 color_2">
        	<div class="w-100 h-75 d-flex" style="align-items: center;">
                <img src="/img/fav.svg" height="50px" style="vertical-align:bottom" class="d-inline-block">
                <strong class=" d-inline-block">Ainda não é cadastrado?<br><a href="/cadastro"><font class="font-15">Cadastre-se!</font></a></strong>
            </div>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
</div>