<div class= "container my-5">
  <div class="w-100 row">
    <!-- Formulário de marcação -->
    <div class="col-4">
      <form action="" method="post" class="formAlt w-100 border-radius-8px shadow p-2">
        <h2 class="family-title-master font-18 text-center w-100 py-1 mb-3">Criar Compromisso</h2>
        <div class="field">
          <input type="text" placeholder=" " name="titulo" required>
          <p class="label">Compromisso</p>
        </div>
        <div class="field">
          <input type="datetime-local" placeholder=" " name="data" required>
          <p class="label">Data e Hora</p>
        </div>
        <div class="field">
          <textarea name="info" rows="8" placeholder=" " required></textarea>
          <p class="label">Descrição</p>
        </div>
        <div class="w-100 text-center p-3">
          <button>Agendar</button>
          </div>
      </form>
    </div>

    <!-- lista de compromissos -->

    <div class="col-8">
      <!-- card -->
      <div class="card-compromisso">
        <div class="time">
          07:00
        </div>
        <div class="compromisso">
          Meu Narguile
        </div>
        <div class="info">
          Lembrar de não cair
        </div>
      </div>

      <div class="card-compromisso">
        <div class="time">
          07:00
        </div>
        <div class="compromisso">
          Meu Narguile
        </div>
        <div class="info">
          Lembrar de não cair
        </div>
      </div>

    </div>
  </div>
</div>
