<div class="col-3">&nbsp;</div>
<div class="col-6">
    <form class="w-100 border-radius-8px formAlt px-1 py-4" action="" method="post">
        <div class="field">
            <input type="text" placeholder=" " name="cad[nome]" required>
            <p class="label">Nome</p>
        </div>
        <div class="field">
            <input type="email" placeholder=" " name="cad[email]" required>
            <p class="label">Email</p>
        </div>
        <div class="row w-100">
            <div class="col-6 p-0">
                <div class="field">
                    <input type="password" placeholder=" " name="cad[senha]" required>
                    <p class="label">Senha</p>
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="field">
                    <input type="password" placeholder=" " name="cad[csenha]" required>
                    <p class="label">Confirmar Senha</p>
                </div>
            </div>
        </div>
        <div class="w-100 {%class-termos-de-uso%}">
            <p class="font-12 text-center color_3">Ao clicar em <strong>Cadastrar</strong>, você declara que leu e concorda com os nossos <a href="/termos-de-uso" class="link_hover">Termos de Uso</a>.</p>
        </div>
        <input type="hidden" name="token" value="{%token%}">
        <div class="w-100 text-center p-1">
            <button>Cadastrar</button>
        </div>
    </form>
</div>
<div class="col-3">&nbsp;</div>